/* Center all the elements on the body */

html, body {
    background-color: antiquewhite;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}


#form-container {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: lightblue;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;   
    height:max-content;
    text-align: center;

}

form label, form p {
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#userForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#userForm input[type="text"],
#userForm input[type="submit"],
#userForm select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

#userForm input[type="submit"]:hover {
    background-color: #45a049;
}

#userForm label {
    margin-bottom: 10px;
}


.grid-container {
    margin-top: 50px;
    background-color: rgb(11, 177, 232);
    border-radius: 20px;
    padding: 5%;
    position: relative; 
    display: flex;              
    justify-content: center;    
    align-content: center; 
    /* Keep the card shapes as square even when the viewport height changes   */
    aspect-ratio: 1 
   
}

.card{
    background-color: rgb(238, 3, 3);
    border: 5px solid rgb(11, 177, 232); 
    border-radius: 20px;
    /* row-gap: 5px;
    column-gap: 2em; */
    width: 200px;
}

.card-back{
    background-color:green;
}

.game-stats{
    margin-top: 20px;
    background-color: rgb(18, 232, 11);
    border-radius: 20px;
    padding: 5%;
    position: relative; 
    display: flex;
    flex-wrap: wrap;              
    justify-content: center;    
    align-content: center; 
}

.userStats{
    text-align: center;

}

@media (max-width: 1080px) {
    .card {
        height: 150px; 
        width: 150px;  
    }
}

@media (max-width: 760px) {
    .card {
        height: 100px; 
        width: 100px;  
    }
}

@media (max-width: 600px) {
    .card {
        height: 75px; 
        width: 75px;  
    }
}

.flip-card{
    transform: rotate(180deg);
}

