/* Center all the elements on the body */

html,
body {
    background-color: antiquewhite;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

 #form-container {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: lightblue;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    height: max-content;
    text-align: center;
}

form label,
form p {
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#userForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#userForm input[type="text"],
#userForm input[type="submit"],
#userForm select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

#userForm input[type="submit"]:hover {
    background-color: #45a049;
}

#userForm label {
    margin-bottom: 10px;
}


.grid-container {
    margin-top: 20px;
    background-color: rgb(11, 177, 232);
    border-radius: 10px;
    padding: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    /* Keep the card shapes as square even when the viewport height changes   */
    aspect-ratio: 1
}

.card {
    background-color: rgb(238, 3, 3);
    border: 5px solid rgb(11, 177, 232);
    border-radius: 20px;
    width: 150px;
}

.card-back {
    background-color: green;
}

.game-stats {
    margin-top: 20px;
    background-color: rgb(18, 232, 11);
    border-radius: 20px;
    padding: 5%;
    position: relative;
    text-align: center;}

.userStats {
    text-align: center;
}

.nav-button {
    margin-top: 10px;
    display: block;
    width: 45%;
    border-radius: 10px;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.nav-button:hover {
    background-color: #ddd;
    color: black;
}

.nav{
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;
}


@media (max-width: 1080px) {
    .card {
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 760px) {
    .card {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 600px) {
    .card {
        height: 75px;
        width: 75px;
    }

    .nav-button{
        font-size: 12px;
    }

    #form-container{
        margin-left: 4%;
        margin-right: 4%;    
    }
}



/* Custom alert box styles */
.custom-alert {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.custom-alert-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ----------------extra */

.custom-alert-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.custom-alert-close:hover,
.custom-alert-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.custom-alert button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #45a049;
}